.workoutDetailsDiv{
    margin-bottom: 0% !important;
}
.newExerciseCreateWorkoutDiv{
    background-color: rgba(113,113,113,0.19);
    justify-content: center;
}
.exerciseOrderDiv .arrowDisabled{
    color: lightgray;
}
/* Css for Loading animation Spinner */
@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }
  #workoutModal{
    width: 40%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* Css for exercise in exercise order list*/
  .exerciseOrderLiDiv{
    border-bottom: .7px solid lightgray;
    position: relative;
  }
  .exerciseOrderDiv{
    position: relative;
    right: -2rem;
    transition: .1s ease;
  }
  .exerciseAssignOrderLiData{
    position: relative;
    left: -2rem;
    padding: .3rem;
    margin-left: .2rem;
    padding-right: .5rem;
    transition: .1s ease;
  }
  .deleteExerciseAssignSpan{
    left: -50px;
    visibility: hidden;
    background-color: rgba(247, 99, 99, 1);
    float: left;
    padding: .9rem;
    opacity: 0;
    transition: opacity .5s ease-out;
  }
  .exerciseOrderLiDiv:hover .deleteExerciseAssignSpan{
    visibility: visible;
    opacity: 1;
  }
  .exerciseOrderLiDiv:hover .exerciseAssignOrderLiData{
    visibility: visible;
    left: 0rem;
  }
  .exerciseOrderLiDiv:hover .exerciseOrderDiv{
    visibility: visible;
    right: 0rem;
  }