.card-coach {
  width: 400px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
}

.img-coach-card {
  height: 100%;
}
.button-clear {
  background: none;
  border: none;
  color: white;
}

.page-title-coachLib {
  font-family: "Bebas Neue", sans-serif;
  font-size: 60px;
}
